files:
  /etc/nginx/conf.d/https.conf:
    mode: "000644"
    owner: root
    group: root
    content: |
      # HTTPS server

      server {
          listen       443;
          server_name  localhost;
          
          ssl                  on;
          ssl_certificate      /etc/pki/tls/certs/server.crt;
          ssl_certificate_key  /etc/pki/tls/certs/server.key;
          
          ssl_session_timeout  5m;
          
          ssl_protocols  TLSv1 TLSv1.1 TLSv1.2;
          ssl_prefer_server_ciphers   on;

          # For enhanced health reporting support, uncomment this block:

          #if ($time_iso8601 ~ "^(\d{4})-(\d{2})-(\d{2})T(\d{2})") {
          #    set $year $1;
          #    set $month $2;
          #    set $day $3;
          #    set $hour $4;
          #}
          #access_log /var/log/nginx/healthd/application.log.$year-$month-$day-$hour healthd;
          #access_log  /var/log/nginx/access.log  main;
          
          location / {
              proxy_pass  http://nodejs;
              proxy_set_header   Connection "";
              proxy_http_version 1.1;
              proxy_set_header        Host            $host;
              proxy_set_header        X-Real-IP       $remote_addr;
              proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
              proxy_set_header        X-Forwarded-Proto https;
          }
      }
      
  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
      MIIEszCCA5ugAwIBAgIUHqvPB+au6/iNtd50YNHPemWWMDgwDQYJKoZIhvcNAQEL
      BQAwgegxCzAJBgNVBAYTAlVTMQswCQYDVQQIDAJUWDEQMA4GA1UEBwwHSG91c3Rv
      bjEQMA4GA1UECgwHQ29tcGFueTEUMBIGA1UECwwLRGV2ZWxvcG1lbnQxQjBABgNV
      BAMMOVNwbXNlcnZlci1lbnYuZWJhLTY5YmFtcHB2LnVzLWVhc3QtMS5lbGFzdGlj
      YmVhbnN0YWxrLmNvbTFOMEwGCSqGSIb3DQEJARY/ZW1haWxAU3Btc2VydmVyLWVu
      di5lYmEtNjliYW1wcHYudXMtZWFzdC0xLmVsYXN0aWNiZWFuc3RhbGsuY29tMB4X
      DTIwMTIyMzIzNDAxMVoXDTIxMTIyMzIzNDAxMVowgegxCzAJBgNVBAYTAlVTMQsw
      CQYDVQQIDAJUWDEQMA4GA1UEBwwHSG91c3RvbjEQMA4GA1UECgwHQ29tcGFueTEU
      MBIGA1UECwwLRGV2ZWxvcG1lbnQxQjBABgNVBAMMOVNwbXNlcnZlci1lbnYuZWJh
      LTY5YmFtcHB2LnVzLWVhc3QtMS5lbGFzdGljYmVhbnN0YWxrLmNvbTFOMEwGCSqG
      SIb3DQEJARY/ZW1haWxAU3Btc2VydmVyLWVudi5lYmEtNjliYW1wcHYudXMtZWFz
      dC0xLmVsYXN0aWNiZWFuc3RhbGsuY29tMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8A
      MIIBCgKCAQEAu+9P2OPOjeWgwkJKPf4Qh+/5Cxdid2713PoJ2KYXoM3FsiXce7Sl
      rRNuVuUZsKaW0EFdE+73B0CyEAadPS3L7T/El6e7RiwERVYl07CD6mAYyMqZfgKD
      pel7dUX6zoz8U2Ec13IxekRdyc/eOtYLr8ZIUe2Hx6thRCFOfkZ9yInBvuegM1Z0
      FqUbxWmawgO4iK7Oh3IYx0fTAUHK93MjWSnOLr8tfDixFsC5Ot8mNkVau3MN9LR3
      uPQMYp20We3sDDdBnSjdMFxfTa9RzsxaOLJ9reMnQQXSkA/3lEExcBi/3j98feog
      zUiUutT25ROSQlySs20MuuEuDSWguInPYQIDAQABo1MwUTAdBgNVHQ4EFgQUPcxM
      3xEMpOD9cMv1EkPzLy7aBJYwHwYDVR0jBBgwFoAUPcxM3xEMpOD9cMv1EkPzLy7a
      BJYwDwYDVR0TAQH/BAUwAwEB/zANBgkqhkiG9w0BAQsFAAOCAQEApLYsvsTtlFk9
      S/Yy9enrFww6Uos3YG16I/AVfVObRxsAO5cLAEI+lYIHpkH/gS8Hi9xEpjwy+7r6
      eEI64/aUS6EnlTS6EYnT0MPoIe5+J+tTMZlAO+2DlbmEzwVeoYsqIqosFvhkJBSK
      4HdUi7w75c52LHPFnXPm71U2XhacHBp+8CzP98KYWXvoFitfC8wwEaPnSiSqtmNF
      JYOOT6Czp4T6xcSxzHGQSutlCPObU18Si/Awg9xA6cwZRqBBnFVmSOjkGGUNIYBj
      03YxQIsFxaFUIniY8JsYqljbQY3NflwROy/ieV95r3e6zMxaTr4EvWqey79BK39+
      RUWQUEbh7Q==
      -----END CERTIFICATE-----
      
  /etc/pki/tls/certs/server.key:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN RSA PRIVATE KEY-----
      MIIEpQIBAAKCAQEAu+9P2OPOjeWgwkJKPf4Qh+/5Cxdid2713PoJ2KYXoM3FsiXc
      e7SlrRNuVuUZsKaW0EFdE+73B0CyEAadPS3L7T/El6e7RiwERVYl07CD6mAYyMqZ
      fgKDpel7dUX6zoz8U2Ec13IxekRdyc/eOtYLr8ZIUe2Hx6thRCFOfkZ9yInBvueg
      M1Z0FqUbxWmawgO4iK7Oh3IYx0fTAUHK93MjWSnOLr8tfDixFsC5Ot8mNkVau3MN
      9LR3uPQMYp20We3sDDdBnSjdMFxfTa9RzsxaOLJ9reMnQQXSkA/3lEExcBi/3j98
      feogzUiUutT25ROSQlySs20MuuEuDSWguInPYQIDAQABAoIBAQChTxu+EmrsqLh/
      hN6srzIJPBULTBscYIVwEr340zdcssKJ0q2ZEMlT8WW3+BVA5vxz7Ga0AVzPQNyV
      nNfB91keXqmjcjjwVj+kM/lr5gqUVb9wOVXeLtJIyktJsbNBLwo1lxlmY4HMbHoE
      CwO4hJirWwogKD1vSM7H576z7FVyljKDJV5dl17Ie8fHJXHlQTlypB2Q49AhiB5A
      PSUQGRFQfA4/BM92QSdn1fXe+jPBo4LAJL5g+O2lR9du43CDx0QI0Grfau5v8EV6
      DBAQ5v5JSmDNaRRcpisCsZs1XHaf07CufNN4DOt1h8YlOJvgt8wghVpdNz81tD4v
      tk/C4LUBAoGBAOPLUmqOe9+RvkvtJp5qcegCPuD77M5JCtGFypNNjs7IlYXCzmA3
      fkry6wSXlti1JiAtu/RjK6BMdK+7ALvCt0lcWBCFPKeE86YaYPzKMcSwFV4wbM+E
      ac1/9cF8nl3hetNL+ANSp01VLXLiFIKG1oJhzdKQFBHv7HZHxsBpHEVpAoGBANM0
      hC6fPTmOMSxX2LULMMH/xtBOHOyJhgWvjKx9bbU88dsvU4cm1a3Nx3sOEMl0a0hM
      jEXntudE7xNMmWyNa7f3hRpEQkl2VSqG1hF1lLU+TYbHhmPxkixObewB8EibL2gT
      AnQtWksAmf72s+ORrxY17Tu67FsM1oSsUeY4mSM5AoGBANGOgFkqjuaTax7qIfbm
      MbegKTxMRgNXyq4JiNyOIuw0NumA1t5I7tQAORhWZB0kONitehVPDhk/fLEVNY2F
      iZvhadp41928P3D1H3gugi5RVrb5kYAubi7woqLHA+GVxqqPXq+f3+0SiOcA+KFD
      bh8v3mrwxKXjtALz8PGdQLbRAoGAKLCLbrf7AaWlT5e1BlwbjqSKVwNVizSLf3js
      ryaTBkGxjrq1aupObGeisNBq54ToTkuBEs6rbC7ZqGwverxcLlsfZ4oTAzgq/EBx
      6XcvqSNRqE+0Unjt4l9RyhAtjK9pGLHg3SUHqj95a6d3zLX6d1r4U3OVqYz1nyXb
      uXDZ//ECgYEA2vPc+Ueq384P+52l8JZQ64aTlM22m39cSqN074Zlfqal6oiMGcyT
      DxEAavuy2vt/N0+MCvN9/r/CfJ68PLPupRjkZykRHW1Pk17LCwovyu/cv+l1JX8E
      Nvq3wVyv2vKzz1ZU01C6Be7P5bCe47aZ20F+k4DYzfYnIAHZ7vJR4GQ=
      -----END RSA PRIVATE KEY-----